@use "../../styles/sass/abstracts/index" as *


// keyframes
@keyframes dot-1-forward
    0%
        top: calc(50% - #{$dot-size} / 2)
        left: 0
    50%
        top: calc(50% - #{$dot-size} / 2)
        left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    100%
        top: 0
        left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)

@keyframes dot-1-backward
    0%
        top: 0
        left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    50%
        top: calc(50% - #{$dot-size} / 2)
        left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    100%
        top: calc(50% - #{$dot-size} / 2)
        left: 0

@keyframes dot-3-forward
    0%
        bottom: calc(50% - #{$dot-size} / 2)
        right: 0
    50%
        bottom: calc(50% - #{$dot-size} / 2)
        right: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    100%
        bottom: 0
        right: calc(#{$text-sl} / 2 - #{$dot-size} / 2)

@keyframes dot-3-backward
    0%
        bottom: 0
        right: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    50%
        bottom: calc(50% - #{$dot-size} / 2)
        right: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    100%
        bottom: calc(50% - #{$dot-size} / 2)
        right: 0

@mixin sidebar
    width: 50vw
    height: 100vh
    background-color: rgba($color-third, .9)
    position: absolute
    top: 0
    left: -50vw
    padding: calc(#{$nav-mobile-height} + #{$text-xl}) $edge-l-r 0 $edge-l-r

@mixin menu-animation($name)
    animation-name: $name
    animation-duration: .2s
    animation-timing-function: linear
    animation-delay: 0
    animation-direction: normal
    animation-fill-mode: forwards


.bar
    position: fixed
    width: 100%

    ul a
        @include a-deco($color-second)

    .wrapper
        height: $nav-mobile-height
        background-color: $color-third
        padding: $text-m $edge-l-r $text-s $edge-l-r
        display: grid
        grid-template-columns: 25% 50% 25%
        grid-template-rows: auto
        grid-template-areas: "left center right"
        border-bottom: $line-1 solid $color-second

    .logo_wrapper
        height: 120%
        grid-area: center
        align-self: flex-end

        .logo
            background-position: center

    .menu_wrapper
        grid-area: left

        .menu
            @include sidebar

            z-index: -1
            transition: left .2s ease-in-out

            &.open
                left: 0

        .menu_btn
            width: $text-sl
            height: $text-sl
            position: relative
            cursor: pointer

            > span
                background-color: $color-second
                height: $dot-size
                display: inline-block
                width: $dot-size
                position: absolute

            > span:nth-child(1)
                @include menu-animation(dot-1-backward)

                top: calc(50% - #{$dot-size} / 2)
                left: 0

            > span:nth-child(2)
                top: calc(50% - #{$dot-size} / 2)
                left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)

            > span:nth-child(3)
                @include menu-animation(dot-3-backward)

                bottom: calc(50% - #{$dot-size} / 2)
                right: 0

            &.active
                span:nth-child(1)
                    @include menu-animation(dot-1-forward)

                span:nth-child(3)
                    @include menu-animation(dot-3-forward)

    .user_btns
        @include ul-flex(row)

        grid-area: right
        gap: $text-ml
        justify-content: flex-end
        align-self: flex-end

        .account_btn
            cursor: pointer


@media only screen and (min-device-width: 640px)

    .bar

        .wrapper
            height: $nav-height
            grid-template-columns: 20% 60% 20%
            padding-top: $text-l

            .logo_wrapper
                grid-area: left
                height: 180%

                .logo
                    background-position: left
                    img
                        height: $text-l

            .menu_wrapper
                grid-area: center
                display: flex
                justify-content: center

                .menu
                    width: auto
                    height: auto
                    position: static
                    margin-top: 0
                    padding: 0
                    z-index: 0
                    display: flex
                    align-items: flex-end

                    &_btn
                        display: none

            .user_list
                gap: 2vw
                margin: 0 2rem
