@-webkit-keyframes dot-1-forward {
  0% {
    top: calc(50% - 0.15rem / 2);
    left: 0;
  }
  50% {
    top: calc(50% - 0.15rem / 2);
    left: calc(1.2rem / 2 - 0.15rem / 2);
  }
  100% {
    top: 0;
    left: calc(1.2rem / 2 - 0.15rem / 2);
  }
}
@keyframes dot-1-forward {
  0% {
    top: calc(50% - 0.15rem / 2);
    left: 0;
  }
  50% {
    top: calc(50% - 0.15rem / 2);
    left: calc(1.2rem / 2 - 0.15rem / 2);
  }
  100% {
    top: 0;
    left: calc(1.2rem / 2 - 0.15rem / 2);
  }
}
@-webkit-keyframes dot-1-backward {
  0% {
    top: 0;
    left: calc(1.2rem / 2 - 0.15rem / 2);
  }
  50% {
    top: calc(50% - 0.15rem / 2);
    left: calc(1.2rem / 2 - 0.15rem / 2);
  }
  100% {
    top: calc(50% - 0.15rem / 2);
    left: 0;
  }
}
@keyframes dot-1-backward {
  0% {
    top: 0;
    left: calc(1.2rem / 2 - 0.15rem / 2);
  }
  50% {
    top: calc(50% - 0.15rem / 2);
    left: calc(1.2rem / 2 - 0.15rem / 2);
  }
  100% {
    top: calc(50% - 0.15rem / 2);
    left: 0;
  }
}
@-webkit-keyframes dot-3-forward {
  0% {
    bottom: calc(50% - 0.15rem / 2);
    right: 0;
  }
  50% {
    bottom: calc(50% - 0.15rem / 2);
    right: calc(1.2rem / 2 - 0.15rem / 2);
  }
  100% {
    bottom: 0;
    right: calc(1.2rem / 2 - 0.15rem / 2);
  }
}
@keyframes dot-3-forward {
  0% {
    bottom: calc(50% - 0.15rem / 2);
    right: 0;
  }
  50% {
    bottom: calc(50% - 0.15rem / 2);
    right: calc(1.2rem / 2 - 0.15rem / 2);
  }
  100% {
    bottom: 0;
    right: calc(1.2rem / 2 - 0.15rem / 2);
  }
}
@-webkit-keyframes dot-3-backward {
  0% {
    bottom: 0;
    right: calc(1.2rem / 2 - 0.15rem / 2);
  }
  50% {
    bottom: calc(50% - 0.15rem / 2);
    right: calc(1.2rem / 2 - 0.15rem / 2);
  }
  100% {
    bottom: calc(50% - 0.15rem / 2);
    right: 0;
  }
}
@keyframes dot-3-backward {
  0% {
    bottom: 0;
    right: calc(1.2rem / 2 - 0.15rem / 2);
  }
  50% {
    bottom: calc(50% - 0.15rem / 2);
    right: calc(1.2rem / 2 - 0.15rem / 2);
  }
  100% {
    bottom: calc(50% - 0.15rem / 2);
    right: 0;
  }
}
.bar {
  height: 3rem;
  width: 100%;
  position: fixed;
}
.bar ul a {
  color: #ffffff;
  text-decoration: none;
}
.bar .wrapper {
  background-color: #26a1bd;
  padding: 1rem 6vw 0.6rem 6vw;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
  grid-template-areas: "left center right";
  border-bottom: 0.1rem solid #ffffff;
}
.bar .logo_wrapper {
  height: 120%;
  grid-area: center;
  align-self: flex-end;
}
.bar .logo_wrapper .logo {
  background-position: center;
}
.bar .menu_wrapper {
  grid-area: left;
}
.bar .menu_wrapper .menu {
  width: 50vw;
  height: 100vh;
  background-color: rgba(38, 161, 189, 0.9);
  position: absolute;
  top: 0;
  left: -50vw;
  margin-top: 3rem;
  padding: 2.4rem 6vw 0 6vw;
  z-index: -1;
  transition: left 0.2s ease-in-out;
}
.bar .menu_wrapper .menu.open {
  left: 0;
}
.bar .menu_wrapper .menu_btn {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  cursor: pointer;
}
.bar .menu_wrapper .menu_btn > span {
  background-color: #ffffff;
  height: 0.15rem;
  display: inline-block;
  width: 0.15rem;
  position: absolute;
}
.bar .menu_wrapper .menu_btn > span:nth-child(1) {
  -webkit-animation-name: dot-1-backward;
          animation-name: dot-1-backward;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  top: calc(50% - 0.15rem / 2);
  left: 0;
}
.bar .menu_wrapper .menu_btn > span:nth-child(2) {
  top: calc(50% - 0.15rem / 2);
  left: calc(1.2rem / 2 - 0.15rem / 2);
}
.bar .menu_wrapper .menu_btn > span:nth-child(3) {
  -webkit-animation-name: dot-3-backward;
          animation-name: dot-3-backward;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: calc(50% - 0.15rem / 2);
  right: 0;
}
.bar .menu_wrapper .menu_btn.active span:nth-child(1) {
  -webkit-animation-name: dot-1-forward;
          animation-name: dot-1-forward;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.bar .menu_wrapper .menu_btn.active span:nth-child(3) {
  -webkit-animation-name: dot-3-forward;
          animation-name: dot-3-forward;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.bar .user_btns {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  grid-area: right;
  gap: 1.4rem;
  justify-content: flex-end;
  align-self: flex-end;
}
.bar .user_btns .account_btn {
  cursor: pointer;
}

@media only screen and (min-device-width: 640px) {
  .bar {
    height: calc(3rem * 1.5);
  }
  .bar .wrapper {
    grid-template-columns: 20% 60% 20%;
    padding-top: 1.8rem;
  }
  .bar .wrapper .logo_wrapper {
    grid-area: left;
    height: 180%;
  }
  .bar .wrapper .logo_wrapper .logo {
    background-position: left;
  }
  .bar .wrapper .logo_wrapper .logo img {
    height: 1.8rem;
  }
  .bar .wrapper .menu_wrapper {
    grid-area: center;
    display: flex;
    justify-content: center;
  }
  .bar .wrapper .menu_wrapper .menu {
    width: auto;
    height: auto;
    position: static;
    margin-top: 0;
    padding: 0;
    z-index: 0;
  }
  .bar .wrapper .menu_wrapper .menu_btn {
    display: none;
  }
  .bar .wrapper .user_list {
    gap: 2vw;
    margin: 0 2rem;
  }
}/*# sourceMappingURL=nav.module.css.map */