@use "../../styles/sass/abstracts/index" as *


// keyframes
@keyframes dot-1-forward
    0%
        top: calc(50% - #{$dot-size} / 2)
        left: 0
    50%
        top: calc(50% - #{$dot-size} / 2)
        left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    100%
        top: 0
        left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)

@keyframes dot-1-backward
    0%
        top: 0
        left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    50%
        top: calc(50% - #{$dot-size} / 2)
        left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    100%
        top: calc(50% - #{$dot-size} / 2)
        left: 0

@keyframes dot-3-forward
    0%
        bottom: calc(50% - #{$dot-size} / 2)
        right: 0
    50%
        bottom: calc(50% - #{$dot-size} / 2)
        right: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    100%
        bottom: 0
        right: calc(#{$text-sl} / 2 - #{$dot-size} / 2)

@keyframes dot-3-backward
    0%
        bottom: 0
        right: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    50%
        bottom: calc(50% - #{$dot-size} / 2)
        right: calc(#{$text-sl} / 2 - #{$dot-size} / 2)
    100%
        bottom: calc(50% - #{$dot-size} / 2)
        right: 0

// mixins
// @mixin ul-direction($direction)
//     flex-direction: column

@mixin sidebar
    // @include ul-flex(column)

    width: 50vw
    height: 100vh
    background-color: rgba($color-third, .9)
    position: absolute
    top: 0
    left: -50vw
    margin-top: $nav-height
    padding: $text-xl $edge-l-r 0 $edge-l-r
    // calc(#{$edge-l-r} + #{$text-sl} / 2 - #{$dot-size} / 2)
    // z-index: -1

    // > li:first-child
    //     margin-top: $text-xl

@mixin menu-animation($name)
    animation-name: $name
    animation-duration: .2s
    animation-timing-function: linear
    animation-delay: 0
    animation-direction: normal
    animation-fill-mode: forwards


.bar
    height: $nav-height
    width: 100%
    position: fixed

    ul a
        @include a-deco($color-second)

    .wrapper
        // height: 100%
        // width: 100%
        background-color: $color-third
        padding: $text-m $edge-l-r $text-s $edge-l-r
        display: grid
        grid-template-columns: 25% 50% 25%
        grid-template-rows: auto
        grid-template-areas: "left center right"
        // display: flex
        // justify-content: space-between
        // align-items: flex-end
        border-bottom: $line-1 solid $color-second

    .logo_wrapper
        // order: 2
        height: 120%
        // width: calc((100vw - #{$edge-l-r} * 2) / 3)
        grid-area: center
        align-self: flex-end
        // display: flex
        // justify-content: center
        // align-items: flex-end
        // justify-self: center
        // overflow: auto
        // justify-self: center
        // flex-grow: 1

        .logo
            background-position: center
        //     align-self: flex-end
        //     // height: fit-content
        //     // display: block
        //     text-align: center

        //     img
        //         height: $text-ml
        //         vertical-align: text-bottom

    .menu_wrapper
        // order: 1
        // flex-grow: 1
        // width: calc((100vw - #{$edge-l-r} * 2) / 3)
        grid-area: left

        .menu
            @include sidebar

            z-index: -1
            transition: left .2s ease-in-out

            &.open
                left: 0

        .menu_btn
            width: $text-sl
            height: $text-sl
            position: relative
            cursor: pointer
            // order: 1

            > span
                background-color: $color-second
                height: $dot-size
                display: inline-block
                width: $dot-size
                position: absolute

            > span:nth-child(1)
                @include menu-animation(dot-1-backward)

                top: calc(50% - #{$dot-size} / 2)
                left: 0

            > span:nth-child(2)
                top: calc(50% - #{$dot-size} / 2)
                left: calc(#{$text-sl} / 2 - #{$dot-size} / 2)

            > span:nth-child(3)
                @include menu-animation(dot-3-backward)

                bottom: calc(50% - #{$dot-size} / 2)
                right: 0

            &.active
                span:nth-child(1)
                    @include menu-animation(dot-1-forward)

                span:nth-child(3)
                    @include menu-animation(dot-3-forward)

    .user_btns
        @include ul-flex(row)

        grid-area: right

        // order: 3
        // width: calc((100vw - #{$edge-l-r} * 2) / 3)
        gap: $text-ml
        justify-content: flex-end
        align-self: flex-end
        // flex-grow: 1

        // li svg
        //     vertical-align: text-bottom

        // .cart_btn

        .account_btn
            cursor: pointer

    // .account_list
    //     @include sidebar

            // .sub_list
            //     @include ul-flex(column)

            //     width: 100%
                // li
                    // width: inherit
                    // cursor: pointer
                    // font-size: $text-s
                    // padding-left: $text-xs
                    // padding-bottom: $text-xs

                    // .accordion_item .button
                    //     background-color: green
                    //     border-color: transparent
                    //     color: inherit
                    //     font-size: inherit
                    //     cursor: pointer
                    // &.active button
                    //     font-weight: bold

                // li:first-child
                //     padding-top: $text-xs

    // .sidebar
    //     height: 100vh
    //     width: 50vw
    //     background-color: rgba($color-prime, .9)
    //     position: absolute
    //     top: calc(#{$nav-height} + (#{$text-xs} + #{$text-m}) / 2)
    //     left: -50vw
    //     z-index: -1

        // &.open_SB
        //     left: 0
        //     transition: left .2s ease-in-out

// .top_bar
//     width: 100vw
//     height: 0
//     background-color: rgba($color-prime, .9)
//     position: fixed
//     left: 0
//     top: calc(#{$nav-height} + #{$text-m})
//     transition: height .2s ease-in-out
//     z-index: -1
//     display: none


@media only screen and (min-device-width: 640px)

    .bar
        height: calc(#{$nav-height} * 1.5)
        // align-items: flex-end
        // justify-content: initial
        // justify-content: unset

        // ul li
        //     align-items: unset
        //     margin: 0 $text-s

        .wrapper
            grid-template-columns: 20% 60% 20%
            padding-top: $text-l

            .logo_wrapper
                grid-area: left
                height: 180%
                // justify-content: flex-start
                // order: 1
                // flex-grow: 1
                // justify-content: flex-start
                // display: flex
                // align-items: flex-end

                .logo
                    background-position: left
                    // display: inline-block
                    // text-align: left

                    img
                        height: $text-l

            .menu_wrapper
                grid-area: center
                display: flex
                justify-content: center
                // align-items: flex-end
                // order: 2
                // flex-grow: 10

                .menu
                    width: auto
                    height: auto
                    position: static
                    margin-top: 0
                    padding: 0
                    z-index: 0

                    &_btn
                        display: none

                    // &list
                    //     height: auto
                    //     position: static
                    //     margin-top: 0
                    //     padding: 0

                    //     .sub_list
                    //         flex-direction: row
                    //         position: relative
                    //         bottom: -$text-xxs

                    //         > li > button

                    //             &::before
                    //                 content: attr(title)
                    //                 display: block
                    //                 height: 0
                    //                 visibility: hidden
                    //                 overflow: hidden
                    //                 user-select: none
                    //                 pointer-events: none
                    //                 font-weight: bold

                    //         > li > div
                    //             position: absolute
                    //             // top: calc(#{$nav-height} + #{$text-m})
                    //             display: flex
                    //             flex-direction: row
                    //             align-items: center
                    //             margin-top: $text-xxl

                    //             > div
                    //                 margin: $text-s
                    //                 padding: 0

                    //                 > a
                                        // display: inline-block
                                        // height: 100%
                                        // margin: $text-s

            // .user_btns
            //     flex-grow: 2.5
            //     justify-content: flex-end
            //     gap: $text-ml
            //     margin: 0

            .user_list
                gap: 2vw
                margin: 0 2rem

            .smlist
                // flex-grow: 3

                // li
                //     flex-direction: row

        // .sidebar
        //     display: none

    // .top_bar
    //     display: block

    //     &.open_TB
    //         height: $text-ml * 2
    //         transition: height .2s ease-in-out



